* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#cart_content {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  min-height: 70vh;
  /* border: 1px solid gray; */
}

#cart_products {
  background-color: #e8e8e8;
  /* border: 1px solid green; */
  width: 77%;
  margin: 20px;
  border-radius: 4px;
}

#cart_add {
  background-color: white;
  width: 23%;
  margin: 20px 20px 20px 0;
  padding: 20px;
  border-radius: 5px;
  height: 50%;
  box-sizing: border-box;
}

#delivery_content {
  display: flex;
  flex-direction: column;
  /* border: 1px solid gray; */
}

#tick_icon {
  color: green;
}

#warning_icon {
  color: #ffc600;
}

#pay_buttons {
  display: flex;
  justify-content: space-between;
}

#cart_item_content {
  /* border: 1px solid rgb(146, 146, 146); */
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
}

#cart_item_image {
  height: 22vh;
  width: 200px;
  object-fit: contain;
}

#cart_item_details {
  height: 24vh;
  /* border: 1px solid gray; */
  width: 83%;
  padding-left: 50px;
}

#cart_item_price {
  display: flex;
  justify-content: space-between;
}

#add,
#minus {
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  #cart_content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
  }

  #cart_products {
    width: calc(100% - 30px);
    box-sizing: border-box;
    margin: 15px;
  }

  #item_image {
    align-self: center;
  }

  #cart_add {
    box-sizing: border-box;
    width: calc(100% - 30px);
    margin: 15px;
    /* border: 1px solid gray; */
  }
  #cart_item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}

@media only screen and (max-width: 620px) {
  #cart_item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  #item_image {
    align-self: center;
  }

  #cart_item_details {
    height: 55%;
  }

  #cart_item_price {
    flex-direction: column;
  }
}
